* {box-sizing: border-box; margin: 0px;}

body {
    background: #394d71;
    font-family: 'Aldrich', serif;
    font-size: 22px;
}

#level, #score {
    width: 336px;
    position: absolute;
    top: 15%;
    left: 7%;
    color: white;
    background-color: black;
    text-align: center;
    border: 3px solid;
    border-color: #27354e #5471a6 #5471a6 #27354e;
    padding: 10px;
}

#level span, #score span {
    font-size: 60px;
}

#instructions {
    width: 336px;
    position: absolute;
    top: 55%;
    left: 7%;
    color: yellowgreen;
    border: 3px solid;
    border-color: #27354e #5471a6 #5471a6 #27354e;
    padding: 10px;
}

#board {
    background: black;
    border: 3px solid;
    border-color: #27354e #5471a6 #5471a6 #27354e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 350px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(9, auto);
    overflow: hidden;
}

#score {
    left: 70%;
}

.block{
    transform: translate(-50px, -150px);
    width: 50px;
    height: 50px;
    background: black;
}

.dead {
    border: 2px white solid;
}

#pause, #over {
	font-size: 100px;
	color: white;
	position: absolute;
   top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display:	none;
}

.notempty {
    border-style: outset;
    border-width: medium;
}